/* all required css for the Greetings component */

.greetings-note-wrapper {
  margin-top: 40px;
}

.greeting-img {
  height: 80px;
  width: 100px;
  margin: 0px auto;
}

.greeting-title {
  width: 400px;
  margin: 0px auto;
  font-size: 40px;
  font-family: "kalam";
  font-weight: bolder;
  color: #374b5c;
}

.greeting-description {
  width: 600px;
  margin: 0px auto;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
